<div flex-xs flex-gt-xs="100px" layout="column">
    <md-card style="height: 200px;" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-body-2" style="max-height:50px; min-height:50px; color:#{{$ctrl.sbVal.color}}; font-weight:bold;">#{{$ctrl.sbVal.step}}. {{$ctrl.sbVal.name}}</span>
                <md-divider ng-if="!$last"></md-divider>
                <span class="md-subhead">{{$ctrl.progress.status}}</span>
            </md-card-title-text>
        </md-card-title>


        <md-slider class="md-primary" ng-change="$ctrl.convertProgress($ctrl.sbVal.progress)" step="50" min="0" max="100" ng-model="$ctrl.sbVal.progress" flex md-discrete>
        </md-slider>


        <md-card-actions layout="row" layout-align="end center">
            <!-- <md-card-title-text>
                <span class="md-body-2">{{$ctrl.sbVal.utcStart | date: "dd/MM/yy HH:mm"}}</span>
                <md-divider ng-if="!$last"></md-divider>
                <span class="md-body-2">{{$ctrl.sbVal.utcEnd | date: "dd/MM/yy HH:mm"}}</span>
            </md-card-title-text> -->
            <!-- <md-button flex='100'>Action 1</md-button> -->
            <md-button flex aria-label="Refresh">
                Dates
                <md-tooltip md-direction="left">
                    Start: {{$ctrl.sbVal.utcStart | date: "dd/MM/yy HH:mm"}} End: {{$ctrl.sbVal.utcEnd | date: "dd/MM/yy HH:mm"}}
                </md-tooltip>
            </md-button>
            <md-button flex aria-label="Refresh">
                Info
                <md-tooltip md-direction="right">
                    #ID {{$ctrl.sbVal.id}}
                </md-tooltip>
            </md-button>


        </md-card-actions>
    </md-card>
</div>