<md-button ng-click="$ctrl.toggleLeft()" class="md-raised">
    Settings
</md-button>

<div layout="column" ng-cloak>

    <section layout="row" flex>

        <md-sidenav style="position:fixed;" class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Settings</h1>
            </md-toolbar>

            <md-content layout-margin>
                <p>
                    Change the task ordering settings
                </p>
                <md-select ng-model="selectedFilter" ng-change="$ctrl.updateFilter({selected:this.selectedFilter})">
                    <md-option ng-value="option.val" ng-repeat="option in $ctrl.filters">{{ option.val }}</md-option>
                </md-select>
                <br/>

                <!--  -->
                <form>
                    <md-input-container>
                        <label for="testInput">Search by name</label>
                        <input type="text" id="testInput" ng-model="searchStr" ng-change="$ctrl.updateSearchStr({str:searchStr})" md-autofocus flex>
                    </md-input-container>
                </form>
                <br/>
                <!--  -->
                <p>
                    Sort by task status
                </p>

                <md-select ng-model="selectedStatus" ng-change="$ctrl.updateStatusFilter(this.selectedStatus)">
                    <md-option ng-value="option.field" ng-repeat="option in $ctrl.status">{{ option.field }}</md-option>
                </md-select>
                <br/>

                <!--  -->
                <md-button ng-click="$ctrl.toggleLeft()" class="md-primary">
                    Close
                </md-button>
            </md-content>

        </md-sidenav>



    </section>


</div>